In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import datetime

In [2]:
dataset=pd.read_csv('Train_Data.csv',index_col="Date",parse_dates=True)

In [3]:
dataset.head()

              Open    High     Low   Close       Volume
Date
2012-01-03  325.25  332.83  324.97  663.59    73,80,500
2012-01-04  331.27  333.87  329.08  666.45    57,49,400
2012-01-05  329.83  330.75  326.89  657.21    65,90,300
2012-01-06  328.34  328.77  323.68  648.24    54,05,900
2012-01-09  322.04  322.29  309.46  620.76  1,16,88,800